<form [formGroup]="helper.adminLoginForm" (ngSubmit)="onAdminLogin()" #adminLoginFormRef = "ngForm" autocomplete="off">
    <div class="container mt-4">

        
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Admin Email Id</mat-label>
                <input matInput type="email" formControlName="email">
                <mat-error *ngIf="helper.adminLoginForm.get('email')?.hasError('email')">Enter a valid Email Id</mat-error>
                <mat-error *ngIf="helper.adminLoginForm.get('email')?.hasError('required')">Email Id is required</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput [type]="helper.hideSignUpPwd ? 'password' : 'text'">
                <button mat-icon-button matSuffix type="button" (click)="helper.hideSignUpPwd = !helper.hideSignUpPwd"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="helper.hideSignUpPwd">
                    <mat-icon>{{helper.hideSignUpPwd ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="helper.adminLoginForm.get('password')?.hasError('required')">Password is required</mat-error>
                <mat-error *ngIf="helper.adminLoginForm.get('password')?.hasError('minlength')">Password should contain atleast 6
                    characters</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Passcode</mat-label>
                <input matInput formControlName="passCode" >
                <mat-error *ngIf="helper.adminLoginForm.get('passCode')?.hasError('required')">PassCode is required</mat-error>
                
            </mat-form-field>
        </p>
        <div class="text-center">
            <button mat-raised-button color="primary" *ngIf="submitFlag == 0"class="submit-btn">Login</button>
            <button mat-raised-button color="primary" *ngIf="submitFlag != 0" disabled="true" style="color: grey;"><div class="spinner-border text-secondary loader" role="status">
                <span class="sr-only"></span>
              </div>&nbsp; Logging In</button>
        </div>
        <br><br>
        <div class="text-center">
            <span>Need to login as USER ? </span><a class="hyperlink" routerLink="/">Click here</a>
        </div>
        <div class="spacer"></div>
        <br>

    </div>
</form>