mat-form-field {
    width: 100%;
    }
.h3
{
    margin-bottom: 5px !important;
}
.submit-btn
{
    background-color: #0c6dfd !important;
}
.container
{
    max-width: 550px;
}
.hyperlink
{
    text-decoration: none;
    cursor: pointer;
}